<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class="edit-container">
  <%= link_to "Edit this post", edit_post_path(@post), class: "edit-post-link" %> |
  <%= link_to "Back to posts", posts_path, class: "back-to-posts-link" %>

  <%= button_to "Destroy this post", @post, method: :delete, class: "destroy-post-button" %>
</div>
